<div class="container">
  <div class="d-flex align-items-center btn btn-colorbtn1">
    <span class="px-3 py-1">Activité de l'utilisateur:</span>
  </div>
  <form id="contactForm" (ngSubmit)="submitChangepasswordForm()" enctype="multipart/form-data" novalidate>   
    <div class="justify-content-center">
      <div class="col-lg-4 row d-flex justify-content-between">
        <label for="secteuractivite">Mot de passe actuel :</label>
        <input [(ngModel)]="formData.currentpassword" type="password" id="currentpassword" (input)="verifierpassword()" name="currentpassword" class="form-control rounded" placeholder="Mot de passe actuel" required />
      </div>
      <div class="col-lg-4 row d-flex justify-content-between">
        <label for="instagram">Nouveau mot de passe</label>
        <input [(ngModel)]="formData.password" type="password" id="password" name="password" class="form-control rounded" placeholder="Nouveau mot de passe" required />
      </div>
      <div class="col-lg-4 row d-flex justify-content-between">
        <label for="siteweb">Confirmer mot de passe</label>
        <input [(ngModel)]="formData.repassword" type="password" id="repassword" name="repassword" class="form-control rounded" placeholder="Confirmer mot de passe" required />
      </div>
    </div>
    <div class="d-flex pt-3">
      <button type="reset" class="btn px-3 mr-2 btn-sm btn-colorbtn">Annuler</button>
      <button type="submit" class="btn px-3 btn-sm btn-colorbtn btn-addcolor">Enregistrer</button>
    </div>
  </form>
  <br>
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
