
<div class=" col-back  px-2 py-4 ">
    <div class="d-flex justify-content-between align-items-center   text-right ">
        <div class="col   px-0  w-100 ">
            <div class="btn-group">
                <div class="has-search w-100">
                    <input type="text" class="form-control search_input btn-circledown dropdown-toggle custom-dropdown-toggle" id="search" name="search" placeholder="recherche de Contact">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
        </div>

  <br>
    
    <div class="col-back1 px-4 py-4">
        <div class="">
            <div class="d-flex justify-content-between">
                <div class="d-flex ">
                    <img  class="avatar-mail" src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg"
                    alt="User Image" width="40" height="40">
                    <div class="ml-3 mb-0">
                        <p class="m-0 name-company">Charlotte Walker</p>
                   <!--     <p class="mt-2 email-company" >
                            à contactberneso.fr <i style="color: #748699 !important;" class="fa-solid fa-angle-down"></i>
                        </p>-->
                    </div>
                </div>
                <div class="  ">
                   
                        <a class="px-2 py-0 btn-delete" href="#" >
                            <img src="./assets/octicon_trashcan-16.png" class="img-fluid" alt="">
                            <!--<i class="fa-solid fa-trash"></i>-->
                        </a>
                    
                </div>
                
                
                
                
            </div>
           
            <p class="body-flux col-6 pt-1 ">
                Directeur marketing chez Rocketsalt a clique sur le lien Tirez
                 le meilleur parti de votre SEO. dans l’e-mail
            </p>
            <div class="d-flex justify-content-between align-items-center pt-1 text-center">
                <div class="align-items-center">
                    <p class="date-note align-items-center mb-0"> > Autre activite</p>
                </div>
                <div>
                    <p class="date-notet align-items-center mb-0">20:45</p>
                 
                </div>
            </div>
         
        </div>
    </div>
    
    
</div>


