<!--<div class="d-flex ml-2">
    <button class="btn btn-sm btn-colorbtn px-sm-4 mr-2" (click)="showComponent('activite')">Activite</button>
    <button class="btn btn-sm btn-colorbtn px-sm-4 mr-2" (click)="showComponent('notes')">Notes</button>
    <button class="btn btn-colorbtn btn-sm px-sm-4 mr-2" (click)="showComponent('email')">Email</button>
    <button class="btn btn-sm btn-colorbtn px-sm-4" (click)="showComponent('tasks')">Tache</button>
    <button class="btn btn-sm px-sm-4 btn-colorbtn ml-2" (click)="showComponent('meeting')">réunion</button>
</div>
<div *ngIf="selectedComponent==='activite'">
    <app-activite></app-activite>
</div>
<div *ngIf="selectedComponent==='notes'">
    <app-notes></app-notes>
</div>
<div *ngIf="selectedComponent==='email'">
    <app-emails></app-emails>
</div>
<div *ngIf="selectedComponent==='tasks'">
    <app-tasks></app-tasks>
</div>
<div *ngIf="selectedComponent==='meeting'">
    <app-meetings></app-meetings>
</div>-->

 <!-- <div class="modal fade " id="tacheModal" tabindex="-1" role="dialog" aria-labelledby="composeEmailModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content modal-back">
                <div class="modal-header">
                    <h5 class="modal-title" id="composeEmailModalLabel">Ajouter Tache</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                    <div class="row d-flex justify-content-between px-3">
                        <a class="btn btn-colorbtn1 dropdown-toggle custom-dropdown-toggle " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dates
                        </a>
                        <div class="dropdown-menu custom-dropdown-menu align-items-center">
                         
                            <a class="dropdown-item" href="#">Défaut </a>
                            <a class="dropdown-item inter-col" href="#">nouveaux</a>
                            <a class="dropdown-item" href="#"> anciens </a>
                        </div>

                        <a class="btn btn-colorbtn1 dropdown-toggle custom-dropdown-toggle  " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Satuts
                        </a>
                        <div class="dropdown-menu custom-dropdown-menu align-items-center">
                          
                            <a class="dropdown-item" href="#">Défaut </a>
                            <a class="dropdown-item inter-col" href="#">active</a>
                            <a class="dropdown-item" href="#"> deactive </a>
                        </div>

                        <a class="btn btn-colorbtn1 dropdown-toggle custom-dropdown-toggle " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tache
                        </a>
                        <div class="dropdown-menu custom-dropdown-menu align-items-center">
                          
                            <a class="dropdown-item" href="#">Défaut </a>
                            <a class="dropdown-item inter-col" href="#">active</a>
                            <a class="dropdown-item" href="#"> deactive </a>
                        </div>
                        <a class="btn btn-colorbtn1 dropdown-toggle custom-dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Note
                        </a>
                        <div class="dropdown-menu custom-dropdown-menu align-items-center">
                         
                            <a class="dropdown-item" href="#">Défaut </a>
                            <a class="dropdown-item inter-col" href="#">active</a>
                            <a class="dropdown-item" href="#"> deactive </a>
                        </div>
                   
                    </div>
                    <div class="form-group">
                        <label for="emailContent">Compose your email:</label>
                        <div contenteditable="true" class="form-control" id="emailContent" rows="5"></div>
    
                        <div id="emailToolbar">
                            <button type="button" class="btn btn-secondary" onclick="document.execCommand('bold', false, null)"><strong>B</strong></button>
                            <button type="button" class="btn btn-secondary" onclick="document.execCommand('italic', false, null)"><em>I</em></button>
                            <button type="button" class="btn btn-secondary" onclick="document.execCommand('underline', false, null)"><u>U</u></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-colorbtn " data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn  btn-colorbtn ">Envoyer</button>
                </div>
            </div>
        </div>
    </div>-->
     <!--
        <div *ngIf="selectedComponent === 'activite'">
            <app-activite></app-activite>
        </div>

         <div *ngIf="selectedComponent === 'notes'">
            <app-notes></app-notes>
        </div>
    
        <div *ngIf="selectedComponent === 'email'">
            <app-emails></app-emails>
        </div>
    
        <div *ngIf="selectedComponent === 'tasks'">
            <app-tasks></app-tasks>
        </div>
    
        <div *ngIf="selectedComponent === 'meeting'">
            <app-meetings></app-meetings>
        </div>-->
                