
<div class="container-fluid">  
  <div class=" col-lg-4  card-login">
    <div class="card  pt-4 px-2">
      <div class="logoback text-center  d-flex  justify-content-center">
          <img class="img-fluid  justify-content-center" [attr.src]="'assets/logo.png'" width="10px" height="10px" alt="logo">
      </div>
      <hr>
     
      <ng-container *ngIf="!isLoggedIn">
        <form name="form" class="px-2" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <h3 class="text-center login-text">Mot de passe oublié ? </h3>
          <div class="form-group">
            <label for="email" class="label-text px-2">Email :</label>
            <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="form.email"
                required
                email
                #emailInput="ngModel"
                placeholder="Email"
                [ngClass]="{ 'is-invalid': f.submitted && emailInput.invalid }"
            />
            <div *ngIf="emailInput.invalid && (f.submitted || emailInput.dirty)" class="invalid-feedback">
                <div *ngIf="emailInput.errors?.['required']" class="px-2">
                    Email est obligatoire!
                </div>
                <div *ngIf="emailInput.errors?.['email'] && (emailInput.errors?.['required'] || emailInput.dirty)" class="invalid-feedback">
                  Tapez une adresse mail valide!
                </div>
            </div>
        </div>
        
        
        
        <div class="  d-flex row  justify-content-center mb-3 px-4">
          <button  routerLink="/checkemail" class="btn  col-md-8  mb-3 btn-block" type="submit">Suivant</button>
          <button class="btn  col-md-8 btn-blockretour" routerLink="/login" type="button">Retour</button>
      </div>
      
        </form>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <form name="form" class="px-2" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <h3 class="text-center login-text px-4">Verifier votre adresse mail! </h3>
           <hr>
          <h6 class="text-center login-text1">Vérifiez votre courrier électronique. Nous vous avons envoyé un message pour réinitialiser votre mot de passe  </h6>
        <div class="  d-flex row  justify-content-center mb-4 mt-3 px-4">
          <button class="btn  col-md-8  btn-block1" routerLink="/login" type="button"><i class="fa-solid fa-angles-left"></i> Connexion</button>
         </div>
      
        </form>
      </ng-container>
    </div>
    
  </div>


 </div>    
     



