.container-div{
    background-color: #475D75 !important;
    border-radius: 30px;
}
.container-fluid{
    background-color: #FFFFFF !important;


}
.dd{
    background-color: #051337 !important;


}
.col1{
    background-color: #475D75;
    border-radius:  30px  0 0  30px ;
    max-height: 600px;
}
@media (max-width: 768px){
    .col1 {
        border-radius:  30px  30px 0  0  ;
    }
    .col2 {
        border-radius: 0 0  30px    30px !important ;
    }
}

.col2{
    background-color: #F6FAFD;
    border-radius: 0 30px  30px 0;
     max-height: 600px;
}
   /* Add custom styles for the scrollbar */
   .col1::-webkit-scrollbar {
    width: 5px;
  
}

.col1::-webkit-scrollbar-thumb {
    background-color: #475D75; /* Set the color of the scrollbar thumb */
    
}

.col1::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the scrollbar track */
}
   /* Add custom styles for the scrollbar */
   .col2::-webkit-scrollbar {
    width: 5px;
  
}
.pad-row1 {
    font-family: 'Manrope';
    letter-spacing: -4%;
    line-height: 120%;
    font-size: 12px;
    color: #D6DBE5 !important;
    align-items: center;
    opacity: 0.4;
}
.pad-rowmail{
    font-family: 'Manrope';
    letter-spacing: -4%;
    line-height: 120%;
    font-size: 12px;
    margin-bottom: 12px !important;
    color: #FEFC5A !important;
    max-width: 40ch; 
    /* Set to display inline-block to allow line breaks */
    display: inline-block;
    /* Force line breaks after 10 characters */
    word-wrap: break-word;
}

.pad-row {
    font-family: 'Manrope';
    letter-spacing: -4%;
    line-height: 120%;
    font-size: 12px;
    margin-bottom: 12px !important;
    color: #D6DBE5 !important;
    max-width: 40ch; 
    /* Set to display inline-block to allow line breaks */
    display: inline-block;
    /* Force line breaks after 10 characters */
    word-wrap: break-word;
}

.col2::-webkit-scrollbar-thumb {
    background-color: #475D75; /* Set the color of the scrollbar thumb */
    border-radius: 5px;
}

.col2::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the scrollbar track */
}
.modal-back{
    background-color: #F6FAFD;
    border-radius: 10px 10px 10px 10px !important;
}
.btn-colorcontact{
    background-color: transparent;
    border: 1px solid #2B1F91; /* Optional: Add a border for better visibility */
    border-radius: 50px !important;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -3%;
    color: #2B1F91;
    font-weight: 400;
}
.title-contact{
    line-height: 60%;
    letter-spacing: -4%;
    font-size: 18px;
  
    color: #FEFC5A;
    
}
.title-lead{
    line-height: 120%;
    letter-spacing: -4%;
    font-size: 25px;
  
    color: #F5F5F5;
    font-family: 'Manrope';
}
.btn-color {
    background-color: white;
    font-size: 14px; /* Adjust for optimal font size */
    border-radius: 10px !important;
    color: #757447;
    padding: 5px 10px; /* Maintain some padding for spacing */
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */

    /* Ensure all buttons have the same size */
    width: calc(100% / 5) !important;
      height: calc(100% / 5) !important;
  }

  .btn-color:hover {
    background-color:#FEFC5A ;
  }

  .font-icon {
    color: #475D75;
    font-size: 20px; /* Adjust font size if needed */
    margin-bottom: 2px; /* Add space between icon and text */
  }
.btn-colorbtn2{
    background-color: #925252;
    color: white;
    border-radius:  50px;
}

.label-details{
    font-size: 15px; /* Adjust font size if needed */
    font-weight: 400;
}
.date-note{
    color: #526592;
}
.text-truncate{
    font-size: 12px;
    
}

.col-back{
    background-color: #bdc7d2;
    border-radius:  20px !important;
}
#emailContent {
    min-height: 6em; /* Adjust the height as needed */
    border: 1px solid #526592; /* Optional: Add a border for better visibility */
    padding: 10px; /* Optional: Add padding for better appearance */
}
.btn-colorbtn{
    background-color: white;
    border-radius: 50px !important;
    border: 1px solid #2B1F91; /* Optional: Add a border for better visibility */
    color: #2B1F91;
}
.active {
    background-color:#2B1F91 !important;
    color: white !important;
    border-radius:  50px;
}
.inter-col{
    background-color: #AABFE4;
}

.btn-colorbtn1{
    background-color: transparent;
    border: 1px solid #92525c; /* Optional: Add a border for better visibility */
    border-radius: 50px !important;
}

.btn-groupe{
    gap: 10px;
}

.block-icon {
    display: block;
    color: black; 
  }
.d-flex p {
    text-align: left; /* Align all paragraphs to the left */
  }

p{
    color: white; 
    font: 100;
   
}
.lebel-details{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.fa-solid{
    color: white !important;
}
/*
.mr-2{
    background-color: white !important;
    color: black;
    font: 100;
    border-radius: 10px;
}*/
.btn-circle {
    border: 1px solid #AABFE4; /* Replace with your desired border color */
    border-radius: 50px;
    padding: 0px 20px 0px 20px ;
    background-color: #526592 !important;
    color: #AABFE4; /* Text color */
    height: 40px;
}
.list-title{
    font-size: 14px;
   align-items: center;
    gap: 20px;
}
.page-btn {
    background-color: #526592 !important;
    border: 1px solid #b6da63; /* Replace with your desired border color */
    border-radius: 12px;
    color: #b6da63; /* Text color */
    padding: 8px 10px;
}
.page-item:first-child .page-link {
    padding: 8px 10px;
     margin-left: 0; 
     border-top-left-radius: 1.7rem; 
     border-bottom-left-radius: 1.7rem; 
     border-top-right-radius: 1.7rem; 
     border-bottom-right-radius: 1.7rem; 
}
.page-item:last-child .page-link {
    padding: 8px 10px;
    margin-left: 0; 
    border-top-right-radius: 1.7rem; 
    border-bottom-right-radius: 1.7rem; 
    border-top-left-radius: 1.7rem; 
    border-bottom-left-radius: 1.7rem; 
}

.pagination {
    gap: 10px;
    height: 40px;
}

.navbar-brand {
    padding: 5px 20px 5px 0px;
}

.header-table {
    background-color: #3457a9 !important;
    color: #b6da63;
    font-size: 14px;

}

.lebel-client {
    font-size: 40px;
    color: #b6da63;
    font-family:  Arial, sans-serif;

}
.title-link{
    color: white;
}
.btn-group{
    gap: 10px;
}
.searchbar {
    margin-top: auto;
    margin-bottom: auto;
}

.search_container {
    position: relative;
}

.search_input {
    height: 40px;
    border: 2px solid #ccc !important;
    border-radius: 20px 20px 20px 20px !important;
    background-color: #526592;
    color: #fcfdfa !important;
    padding-left: 40px; /* Ensure space for the icon */
}

.search_input:focus + .search_icon {
    color: #fcfdfa !important;
    background-color: #526592 !important;
}

.fa-search:after,
.fa-search:before {
    color: white !important;
    z-index: 7 !important;
}

.fa-note-sticky, .fa-envelope , .fa-bars, .fa-calendar-days {

    color: #2B1F91 !important;

}


.search_icon {
    position: absolute;
    top: 50%;
    color: transparent !important;
    background-color: transparent !important;
    border: 0px;
    left: 5px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

/*picture photo */
.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
   
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover; 
    width: 80px;
    height: 80px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    z-index: 0;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  
  }
  .profile-pic .-label {
    cursor: pointer;
    height: 80px;
    width: 80px;
    margin: 0%;
 
  
  }
 
  .border{
    border: 1px solid  !important; 
}

  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
    

   
  
   
   
  }
 
  .profile-pic span {
    color: white;
    display: table-column-group;
    padding: -79.8em;
   
   /* height: 3.1000000000000014em;*/
    
  }/* Center content within the col-lg-4 element */
.col-lg-4.profile-pic {
    display: flex; /* Make the column container flexible */
    justify-content: center; /* Center the profile picture horizontally */
    align-items: center; /* Center the profile picture vertically */
  }