<div class="row justify-content-between  pl-0">
  <div class="col-lg-4  pl-0">
    <div class="card px-1 py-3 ">
      <div class=" px-3 mb-4">
        <!-- <p class="card-title">
          Group Berneso <i class="fa-sharp fa-solid fa-chevron-down"></i> &nbsp;
        </p> -->



        <form [formGroup]="form">
          <p-dropdown [options]="contactWithActivity" formControlName="contact" optionLabel="name" optionValue="id"
            [filter]="true" filterBy="firstName" placeholder="Select Contact">
            <ng-template pTemplate="selectedItem" let-contactWithActivity>
              <div class="flex align-items-center gap-2">
                <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px" /> -->
                <div>{{ contactWithActivity.firstName }}</div>
              </div>
            </ng-template>
            <ng-template let-contactWithActivity pTemplate="item">
              <div class="flex align-items-center gap-2">

                <div (click)="getContactIdByActivity(currentPage,contactWithActivity.id)">{{
                  contactWithActivity.firstName }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </form>







        <p class="card-subtitle mt-2">Berneso</p>
        <hr class="line-bg mt-2 mb-2">
        <div class="d-flex justify-content-between mb-2">
          <p class="task-label pl-0">Progression de la tâche</p>
          
          <div class="col-auto" >                                      
            <select class="form-select select-css" aria-label="Select date" (change)="onDateSelection($event)">
              <option value="today" selected >Aujourd'hui</option>
              <option value="yesterday">Hier</option>
              <option value="tomorrow">Demain</option>
              <!-- Ajoutez d'autres options au besoin -->
            </select>
          </div>
        
        </div>

        <div class="row g-3 px-3">
          <div class="d-flex justify-content-between mb-0">
            <p class="label-details  pl-0">Liste de choses à faire</p>
            <p class="label-details1"><i class="fa-solid fa-check"></i> &nbsp; {{countA_FaireTermine}} terminées sur {{countparRapport}}</p>
          </div>

       
        


          <div class="progress  px-0  mt-0 ">

            <div class="progress-barbg-success py-4 bg-col-bar" role="progressbar" style="width: 100%"
              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="d-flex justify-content-between  mb-0">
            <p class="label-details">E-mails</p>
            <p class="label-detail2" style="color: #A84343;"><i class="fa-solid fa-xmark"></i> &nbsp; {{countEmailTerminer}} terminées sur {{countparRapporEmail}}
            </p>
          </div>
        
          <div class="progress px-0  mt-0">
            <div class="progress-bar bg-danger bg-col-barmail" role="progressbar" style="width: 100%"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="d-flex justify-content-between mb-0">
            <p class="label-details">Appels</p>
            <p class="label-details1"> &nbsp; {{countAppelTerminer}} terminées sur {{countparRapportAppel}}</p>
          </div>
          <div class="progress px-0 mt-0">
            <div class="progress-bar bg-success bg-col-bar" role="progressbar" style="width: 100%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>


        </div>

        <hr class="line-bg mt-2 mb-2">

        <div class="d-flex justify-content-between mb-2">
          <p class="task-label pl-0">Reunion</p>
          <div class="col-auto">
            <select class="form-select select-css" aria-label="Select date">
              <option selected>Jour</option>
              <option>Mois</option>

            </select>
          </div>
        </div>
        <div class="container">
          <div class="row text-center col-size">
            <div class="col">
              0
            </div>
            <div class="col">
              0
            </div>
            <div class="col" style="color: #2B1F91;">
              0
            </div>
          </div>
          <div class="row text-center col-size1">
            <div class="col" style="color: #2B1F91;">
              Terminées
            </div>
            <div class="col" style="color: #2B1F91;">
              Terminées
            </div>
            <div class="col" style="color: #2B1F91;">
              Terminées
            </div>
          </div>
        </div>
      </div>


    </div>


    <!-- <div class="card mt-4">
      <div class=" px-3 pt-3">
        <div class="d-flex">
          <p>Planifier &nbsp;</p>
          <p>&nbsp; flux</p>
        </div>
      </div>
    </div> -->
  </div>

  <div class="col-md-8 pr-0  ">
    <div class="card1  py-2 ">
      <div class=" d-flex justify-content-between col-8 mb-0 align-items-center  py-3">
        <div class="tabs">
          <div class="tab mb-0 text-lebel-categorie" [ngClass]="{ 'active': activeTab === 'tasks' }"
            (click)="setActiveTab('tasks')">Tasks</div>
          <div class="tab mb-0 text-lebel-categorie" [ngClass]="{ 'active': activeTab === 'sequences' }"
            (click)="setActiveTab('sequences')">Sequences</div>
          <div class="tab mb-0 text-lebel-categorie" [ngClass]="{ 'active': activeTab === 'activities' }"
            (click)="setActiveTab('activities')">Activities</div>
          <div class="tab mb-0 text-lebel-categorie" [ngClass]="{ 'active': activeTab === 'leads' }"
            (click)="setActiveTab('leads')">Leads</div>
        </div>


      </div>
    </div>

    <div class="tab-content">
      <div *ngIf="activeTab === 'tasks'" class="tab-pane active">
        <div class="d-flex  g-1">



          <!--Depart TEST-->

          <div class="card py-2 mr-3 mt-4">
            <div class="card-body">
              <h5 class="card-text-tache text-center">Tâches dues aujourd'hui </h5>
              <hr>
              <div class="card-text">
                <div class=" px-0">
                  <div class=" align-items-start">
                    <div class="row px-0">
                      <div class="col-lg-12 col-md-12 ">
                        <div class="card border-0 ">
                          <div class="card-body">
                            <div class="d-flex align-items-center mb-3 ">
                              <i class="fa-solid fa-phone mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>Appels</b> <br>
                                <b>{{resultCountEqualAPPEL}}</b> tâches d'appels
                              </p>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                              <i class="fa-regular fa-envelope mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>E-mails</b> <br>
                                <b> {{resultCountEqualEMAIL}} </b>tâches d'e-mails
                              </p>
                            </div>

                            <div class="d-flex align-items-center">
                              <i class="fa-solid fa-check mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>Liste de choses à faire</b> <br>
                                <b>{{resultCountEqualAFAIRE}}</b> Vous avez complété toutes vos tâches à faire
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 mb-4 px-3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <p class="card-text-t px-3 text-center"><small>Commencer l'ensemble des 3 tâches en retard</small></p>
            </div>
          </div>

          <!--Final TEST-->



          <!-- <div class="card card-green py-2 mr-3 mt-4">
            <div class="card-body d-flex flex-column align-items-center">
              <h5 class="card-text text-center">Tâches dues aujourd'hui (0)</h5>
              <hr class="hr-line">
              <p class="card-text">
                <br><br>
                <img src="./assets/valide.png" class="img-fluid mx-auto" alt="...">
              </p>
              <br><br>
              <p class="card-text text-center px-3"><small>Vous avez complété toutes vos tâches dues
                  aujourd'hui</small></p>
            </div>
          </div> -->

          <div class="card py-2 mr-3 mt-4">

            <div class="card-body">
              <h5 class="card-text-tache text-center">Tâches en retard </h5>
              <hr>
              <div class="card-text">

                <div class=" px-0">
                  <div class=" align-items-start">
                    <div class="row px-0">
                      <div class="col-lg-12 col-md-12 ">
                        <div class="card border-0 ">
                          <div class="card-body">

                            <div class="d-flex align-items-center mb-3 ">
                              <i class="fa-solid fa-phone mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>Appels</b> <br>
                                <b> {{resultCountBeforeAPPEL}}</b> tâches d'appels
                              </p>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                              <i class="fa-regular fa-envelope mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>E-mails</b> <br>
                                <b> {{resultCountBeforeEMAIL}}</b> tâches d'e-mails
                              </p>
                            </div>

                            <div class="d-flex align-items-center">
                              <i class="fa-solid fa-check mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>Liste de choses à faire</b> <br>
                                <b>{{resultCountBeforeAFAIRE}}</b> Vous avez complété toutes vos tâches à faire
                              </p>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="col-lg-8 col-md-6 mb-4 px-3">
                      </div>
                    </div>
                  </div>


                </div>


              </div>
              <hr>
              <p class="card-text-t px-3 text-center"><small>Commencer l'ensemble des 3 tâches en retard</small></p>
            </div>
          </div>

          <!--Depart TEST-->

          <div class="card py-2 mr-3 mt-4">
            <div class="card-body">
              <h5 class="card-text-tache text-center">Tâches dues demain </h5>
              <hr>
              <div class="card-text">
                <div class=" px-0">
                  <div class=" align-items-start">
                    <div class="row px-0">
                      <div class="col-lg-12 col-md-12 ">
                        <div class="card border-0 ">
                          <div class="card-body">
                            <div class="d-flex align-items-center mb-3 ">
                              <i class="fa-solid fa-phone mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>Appels</b> <br>
                                <b> {{resultCountAfterAPPEL}}</b> tâches d'appels
                              </p>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                              <i class="fa-regular fa-envelope mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>E-mails</b> <br>
                                <b>{{resultCountAfterEMAIL}}</b> tâches d'e-mails
                              </p>
                            </div>

                            <div class="d-flex align-items-center">
                              <i class="fa-solid fa-check mr-3 text-primary"></i>
                              <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                                <b>Liste de choses à faire</b> <br>
                                <b> {{resultCountAfterAFAIRE}}</b> Vous avez complété toutes vos tâches à faire
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 mb-4 px-3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <p class="card-text-t px-3 text-center"><small>Commencer l'ensemble des 3 tâches en retard</small></p>
            </div>
          </div>

          <!--Final TEST-->



          <!-- <div class="card card-green py-2 mt-4">
            <div class="card-body d-flex flex-column align-items-center">
              <h5 class="card-text text-center">
                Tâches dues demain (0)</h5>
              <hr class="hr-line">
            
              <p class="card-text">
                <br><br>
                <img src="./assets/valide.png" class="img-fluid mx-auto" alt="...">
              </p>
              <br><br>
              <p class="card-text text-center px-3"><small>Vous avez complété toutes vos tâches dues
                  aujourd'hui</small></p>

            </div>
          </div> -->
        </div>

      </div>
      <div *ngIf="activeTab === 'sequences'" class="tab-pane active">

        <div class="d-flex  g-1">
          <div class="card  py-2">
            <div class="card-body ">
              <h5 class="card-texts text-center">Séquences (1)</h5>
              <hr class="hr-line">
              <div class=" px-0">
                <div class=" align-items-start">
                  <div class="row px-0">
                    <div class="col-lg-12 col-md-12 ">
                      <div class="card border-0 ">
                        <div class="card-body">

                          <div class="d-flex align-items-center mb-3 mt-4 ">
                            <i class="fa-solid fa-phone mr-3 text-primary"></i>
                            <p class="w-100 mb-0 pb-0" style="font-size: 16px;color: #2B1F91;">
                              <b>Etape 2. tache d'appel</b> <br>
                              1 en retard
                            </p>
                          </div>

                          <div class="d-flex align-items-center mb-3">
                            <!-- <i class="fa-regular fa-envelope mr-3 text-primary"></i>
                            <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                              E-mails <br>
                              2 tâches d'e-mails
                            </p> -->
                            <br>
                          </div>

                          <div class="d-flex align-items-center">
                            <!-- <i class="fa-solid fa-check mr-3 text-primary"></i>
                            <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                              Liste de choses à faire <br>
                              Vous avez complété toutes vos tâches à faire
                            </p> -->
                            <br>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="col-lg-8 col-md-6 mb-4 px-3">
                    </div>
                  </div>
                </div>


              </div>
              <br><br>
              <hr>

              <p class="card-text-t text-center px-3"><small>Vous avez complété toutes vos tâches dues
                  aujourd'hui</small></p>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="activeTab === 'activities'" class="tab-pane active">
        <div class="d-flex  g-1">

          <div class="card  py-2 mr-3 mt-4">
            <div class="card-body ">
              <h5 class="card-texts text-center">Activités suggérées (1) </h5>
              <hr class="hr-line">
              <div class=" px-0">
                <div class=" align-items-start">
                  <div class="row px-0">
                    <div class="col-lg-12 col-md-12 ">
                      <div class="card border-0 ">
                        <div class="card-body">

                          <div class="d-flex align-items-center mb-3 mt-4 ">
                            <i class="fa-solid fa-user mr-3 text-primary"></i>
                            <p class="w-100 mb-0 pb-0" style="font-size: 16px;color: #2B1F91;">
                              <b>Nouveaux contacts</b> <br>
                              <b>{{countContactBefore7Day}}</b> contact vous a ete <br> attribue recament
                            </p>
                          </div>

                          <div class="d-flex align-items-center mb-3">
                            <!-- <i class="fa-regular fa-envelope mr-3 text-primary"></i>
                            <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                              E-mails <br>
                              2 tâches d'e-mails
                            </p> -->
                            <br>
                          </div>

                          <div class="d-flex align-items-center">
                            <!-- <i class="fa-solid fa-check mr-3 text-primary"></i>
                            <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                              Liste de choses à faire <br>
                              Vous avez complété toutes vos tâches à faire
                            </p> -->
                            <br>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="col-lg-8 col-md-6 mb-4 px-3">
                    </div>
                  </div>
                </div>


              </div>
              <br><br>
              <hr>

              <p class="card-text-t text-center px-3"><small>Faite vous de nouveaux contacts&nbsp &nbsp</small></p>
            </div>
          </div>

          <!-- 22222222222222222222222222222222222222222222222222222222222222222222 -->

          <div class="card  py-2 mr-3 mt-4">
            <div class="card-body ">
              <h5 class="card-texts text-center">E-mail non répondu  </h5>
              <hr class="hr-line">
              <div class=" px-0">
                <div class=" align-items-start">
                  <div class="row px-0">
                    <div class="col-lg-12 col-md-12 ">
                      <div class="card border-0 ">
                        <div class="card-body">

                          <div class="d-flex align-items-center mb-3 mt-4 ">
                            <i class="fa-solid fa-user mr-3 text-primary"></i>
                            <p class="w-100 mb-0 pb-0" style="font-size: 16px;color: #2B1F91;">
                              <b>E-mail non répondu</b> <br>
                              <b>{{countEmailsnonRepondu}}</b> Email vous avez <br> non répondu
                            </p>
                          </div>

                          <div class="d-flex align-items-center mb-3">
                            <!-- <i class="fa-regular fa-envelope mr-3 text-primary"></i>
                  <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                    E-mails <br>
                    2 tâches d'e-mails
                  </p> -->
                            <br>
                          </div>

                          <div class="d-flex align-items-center">
                            <!-- <i class="fa-solid fa-check mr-3 text-primary"></i>
                  <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                    Liste de choses à faire <br>
                    Vous avez complété toutes vos tâches à faire
                  </p> -->
                            <br>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="col-lg-8 col-md-6 mb-4 px-3">
                    </div>
                  </div>
                </div>


              </div>
              <br><br>
              <hr>

              <p class="card-text-t text-center px-3"><small>Faite vous de nouveaux contacts&nbsp &nbsp</small></p>
            </div>
          </div>

          <!-- ----------------------------------------------------------------------- -->

          <!-- 3333333333333333333333333333333333333333333333333333333333333333333333 -->
          <div class="card  py-2 mr-3 mt-4">
            <div class="card-body ">
              <h5 class="card-texts text-center">Réunion en attente  </h5>
              <hr class="hr-line">
              <div class=" px-0">
                <div class=" align-items-start">
                  <div class="row px-0">
                    <div class="col-lg-12 col-md-12 ">
                      <div class="card border-0 ">
                        <div class="card-body">

                          <div class="d-flex align-items-center mb-3 mt-4 ">
                            <i class="fa-solid fa-user mr-3 text-primary"></i>
                            <p class="w-100 mb-0 pb-0" style="font-size: 16px;color: #2B1F91;">
                              <b>Réunion en attente</b> <br>
                              <b>--</b> réuinion vous avez <br> en attente
                            </p>
                          </div>

                          <div class="d-flex align-items-center mb-3">
                            <!-- <i class="fa-regular fa-envelope mr-3 text-primary"></i>
                  <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                    E-mails <br>
                    2 tâches d'e-mails
                  </p> -->
                            <br>
                          </div>

                          <div class="d-flex align-items-center">
                            <!-- <i class="fa-solid fa-check mr-3 text-primary"></i>
                  <p class="w-100 mb-0 pb-0" style="color: #2B1F91;">
                    Liste de choses à faire <br>
                    Vous avez complété toutes vos tâches à faire
                  </p> -->
                            <br>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="col-lg-8 col-md-6 mb-4 px-3">
                    </div>
                  </div>
                </div>


              </div>
              <br><br>
              <hr>

              <p class="card-text-t text-center px-3"><small>Faite vous de nouveaux contacts&nbsp &nbsp</small></p>
            </div>
          </div>

          <!-- ----------------------------------------------------------------------- -->




        </div>
      </div>

      <div *ngIf="activeTab === 'leads'" class="tab-pane active">

        <div class="d-flex  g-1">
          <div class="card py-2 mr-2 mt-4">

            <div class="card-body">
              <h5 class="card-text-tache text-center">Nouveaux ({{countNouveauLeads}})</h5>
              <hr>
              <div class="card-text">

                <div class=" px-0">
                  <div class=" align-items-start">
                    <div class="row px-0">
                      <div class="col-lg-12 col-md-12 ">
                        <div class="card border-0 ">
                          <div class="card-body">

                            <div class="d-flex align-items-center mb-3 mt-4 ">
                              <p class="w-100 mb-0 pb-0" style="font-size: 16px;color: #2B1F91;">
                                <b>contacter les nouveaux leads</b>
                              </p>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                              <br>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                              <br>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                              <br>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="col-lg-8 col-md-6 mb-4 px-3">
                      </div>
                    </div>
                  </div>


                </div>


              </div>
              <hr>
              <p class="card-text-t px-3 text-center"><small>Suivi des leads</small></p>
            </div>
          </div>






          <div class="card py-2 mr-2 mt-4">

            <div class="card-body">
              <h5 class="card-text-tache text-center">A lessai ({{countEnCoursLeads}})</h5>
              <hr>
              <div class="card-text">

                <div class=" px-0">
                  <div class=" align-items-start">
                    <div class="row px-0">
                      <div class="col-lg-12 col-md-12 ">
                        <div class="card border-0 ">
                          <div class="card-body">

                            <div class="d-flex align-items-center mb-3 mt-4 ">
                              <p class="w-100 mb-0 pb-0" style="font-size: 16px;color: #2B1F91;">
                                <b>Faite le suivi des leads avec<br> lesqueles vous essaiyez de conclure <br>une vente 2
                                  tâches d'appels</b>
                              </p>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                              <br>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                              <br>
                            </div>


                          </div>
                        </div>
                      </div>

                      <div class="col-lg-8 col-md-6 mb-4 px-3">
                      </div>
                    </div>
                  </div>


                </div>


              </div>

              <p><br></p>
            </div>
          </div>


          <div class="card py-2 mr-2 mt-4">

            <div class="card-body">
              <h5 class="card-text-tache text-center">Connect ({{countConnectLeads}})</h5>
              <hr>
              <div class="card-text">

                <div class=" px-0">
                  <div class=" align-items-start">
                    <div class="row px-0">
                      <div class="col-lg-12 col-md-12 ">
                        <div class="card border-0 ">
                          <div class="card-body">

                            <div class="d-flex align-items-center mb-3 mt-4 ">
                              <p class="w-100 mb-0 pb-0" style="font-size: 16px;color: #2B1F91;">
                                <b>Assurer le suivi des leads <br> avec lesqueles vous etes <br>mis en relation
                                  2 tâches d'appels</b>
                              </p>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                              <br>
                            </div>

                            <div class="d-flex align-items-center">

                              <div class="d-flex align-items-center mb-3">
                                <br>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="col-lg-8 col-md-6 mb-4 px-3">
                      </div>
                    </div>
                  </div>


                </div>


              </div>

              <p><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>