nav {
    background-color: #051337;
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 */

}
hr{
  margin: 0% !important;
    border : 1px solid #475D75 !important;
}

li{
    margin-right: 50px;  
       
}
.dropdown-toggle::after{
    display:none;
}
.mr-auto, .mx-auto {
    margin-right: inherit !important;
}
.nav-link {
    text-align: center;
    color: #fefefe !important;
  
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -4%;
    font-weight: 550;
    font-family: 'Manrope';
}
.nav-link:hover {
    
    color: white !important;
 
}
.navbar-nav .dropdown-menu {
    position: absolute;
    /* float: none; */
}



.custom-dropdown-menu {
    transform: translate3d(0px, 8px, 0px);
    line-height: 1.5;
   
}

.inter-col {
    background-color: #AABFE4;
}

.custom-dropdown-menu::after {
    display: block;
}


.mr-auto, .mx-auto {
    margin-right: inherit !important;
}

.nav-link1 {
    text-align: center;
    color: #475D75 !important;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-nav .custom-dropdown-menu1 {
    position: absolute;
}
.nav-item.dropdown:after .custom-dropdown-menu1 {
    display: block;
}


.dropdown-item:hover{

    color: #061a2e;
    cursor: pointer;
    background-color: #EAF4FD;
}