<nav class="navbar navbar-expand-lg navbar-light px-3 " >
  <a routerLink="/home" class="navbar-brand   ">
      <img class="img-fluid" width="90" src="../assets/logo2.png" />
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

    <ul class="navbar-nav mr-auto">
      <!-- Your Home link -->   
      <!--
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home</a>
      </li>
      -->
      <!-- Users link (conditionally displayed for admin) -->
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Accueil</a>
      </li>
      @if (showAdminBoard){
        <li class="nav-item">
          <a  class="nav-link" routerLink="users">Users</a>
        </li>
      }
      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" id="userDropdownclient" role="button" data-toggle="dropdown"
           aria-haspopup="true"    aria-expanded="false">Contacts
        </a>
      
        <div class="dropdown-menu custom-dropdown-menu1 shadow animated--grow-in" aria-labelledby="userDropdownclient">
          <a class="dropdown-item "  routerLink="contacts">Contacts</a>
          <a class="dropdown-item inter-col"   routerLink="entreprises">Entreprises</a>
      <!--<a class="dropdown-item" href="#" href="/entreprise" routerLink="entreprise">Entreprise</a> -->
        </div>
     
    </li>
    
    

      <!-- Vente link -->
 
      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" id="userDropdownclient" role="button" data-toggle="dropdown"
           aria-haspopup="true"    aria-expanded="false">Vente
        </a>
      
        <div class="dropdown-menu custom-dropdown-menu1 shadow animated--grow-in" aria-labelledby="userDropdownclient">
          <a class="dropdown-item" href="#"  routerLink="produits">Produits</a>
          <a class="dropdown-item inter-col"  routerLink="prospections">Prospections</a>
          <a class="dropdown-item " href="#"  routerLink="transactions">Transactions</a>
        </div>
     
    </li>

      <!-- Marketing link (conditionally displayed for admin) -->
      @if (showAdminBoard){
        <li class="nav-item">
          <a href="/admin" class="nav-link" routerLink="admin">Marketing</a>
        </li>
      <!--   <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" id="userDropdownclient" role="button" data-toggle="dropdown"
           aria-haspopup="true"    aria-expanded="false">Contacts
        </a>
      
        <div class="dropdown-menu custom-dropdown-menu1 shadow animated--grow-in" aria-labelledby="userDropdownclient">
          <a class="dropdown-item " href="/lead" routerLink="lead">Lead</a>
          <a class="dropdown-item inter-col" href="#" href="/client" routerLink="client">Client</a>
          <a class="dropdown-item" href="#" href="/entreprise" routerLink="entreprise">Entreprise</a>
        </div>
     
    </li>
     <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" id="userDropdownclient" role="button" data-toggle="dropdown"
           aria-haspopup="true"    aria-expanded="false">Contacts
        </a>
      
        <div class="dropdown-menu custom-dropdown-menu1 shadow animated--grow-in" aria-labelledby="userDropdownclient">
          <a class="dropdown-item " href="/lead" routerLink="lead">Lead</a>
          <a class="dropdown-item inter-col" href="#" href="/client" routerLink="client">Client</a>
          <a class="dropdown-item" href="#" href="/entreprise" routerLink="entreprise">Entreprise</a>
        </div>
     
    </li>*/
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="admin">Reporting</a>
        </li>-->
      }

      <!-- Moderator Board link (conditionally displayed for moderator) -->
      @if (showModeratorBoard){
        <li class="nav-item">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        }

      <!-- User link (conditionally displayed for logged-in user with user role) -->
      @if (isLoggedIn && showUserBoard){
        <li class="nav-item">
          <a href="/user" class="nav-link" routerLink="user">User</a>
        </li>
      }

    </ul>
  
    
  </div>
  @if (!isLoggedIn) {
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  } @else {
    <div class="navbar-nav ml-auto">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../assets/vector.png"
            alt="Profile Image" width="40" height="40" class="rounded-circle">
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="profile" routerLink="profile">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile {{ username }}
          </a>
          <a class="dropdown-item inter-col" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item inter-col">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </div>
    </div>
    
  }
  
</nav>
<hr>

