<div class="backoverview">
    <div class="container-fluid">
        <div class=" py-1 ">
           
                <div class=" d-flex py-2  align-items-center    justify-content-between  ">
                    <div class=" "><p class="lebel-client ">Contact</p> </div>
                    <div class=" btn-groupe d-flex  ">
                        <div class="mt-0">
                            <button class="btn btn-sm btn-circle  px-3  btn-color" (click)="openModal(adduser)">
                                <i class="fa-solid fa-user-plus"></i> Ajouter Contact
                            </button>
                        </div>
                          
                  <!-- Modal -->
                  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="composeEmailModalLabel" aria-hidden="true">
                    <div class="modal-dialog " role="document">
                        <div class="modal-content modal-back  ">
                            <ng-template #adduser>
                            <div class="modal-header">
                                <h5 class="modal-title  mb-0" id="composeEmailModalLabel">Ajouter User</h5>
                                <button type="button" class="close" (click)="closeModal()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="contactForm" (ngSubmit)="submitUserForm()" enctype="multipart/form-data">
                                
      
                                    <div class="row ">
                                        <div class="col-lg-4  ">
                                            <div class="profile-pic border  " >
                                            <label class="-label" for="image">
                                            <span class="glyphicon glyphicon-camera "></span>
                                            <span><i class="fa-solid fa-camera "></i></span> 
                                            </label>
                                             <input  id="image" name="image" type="file" accept="image/*" (change)="onFileChange($event)" required />
                                             <img *ngIf="image==''" src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg" id="image" width="10" height="10" class="rounded-circle" alt="Placeholder image">
                                             <img *ngIf="image" [src]="image" width="30" height="30" class="rounded-circle">
                                        </div>  
                                    
                    
                                        
                                  </div>
                                
                                  <div class=" col-lg-4 ">
                                  
                                      <label for="email">Email</label>
                                      <input [(ngModel)]="formData.email" type="email" id="email" name="email" class="form-control rounded" placeholder="contact@exemple.fr" required />
                                    
                                        
                                
                                       
                                     
                                  </div>
                                  <div class="col-lg-4">
                                    <label for="password">password</label>
                                    <input [(ngModel)]="formData.password" type="password" id="password" name="password" class="form-control rounded" placeholder="tapez mot de passe" required />
                          
                            
                                  </div>
                                  </div>
    
                                  <div class="row ">
                                    <div class=" col-lg-4 ">
                                      
                                    <label for="username">Nom d'Utilisateur</label>
                                    <input [(ngModel)]="formData.username" type="text" id="username" name="username" class="form-control rounded" placeholder="nom utilisateur" required />
                            
                                    
                                    
                                    </div>
                            
                              <div class=" col-lg-4 ">
                                    <label for="tel">Numéro de Téléphone</label>
                                    <input [(ngModel)]="formData.tel" type="tel" id="tel" name="tel" class="form-control rounded" placeholder="tel" required />
                              </div>
                              <div class="col-lg-4">
                               
                                <label for="repassword">Comfirme password</label>
                                <input [(ngModel)]="formData.repassword" type="password" id="repassword" name="repassword" class="form-control rounded" placeholder="confirmer  mot de passe" required />
                                
                          
                              </div>
                        </div>   
                        <div class="row ">
                            
                           
                            <div class=" col-lg-4 ">
                          
                            <label for="firstname">Nom :</label>
                            <input [(ngModel)]="formData.firstname" type="text" id="firstname" name="firstname" class="form-control rounded" placeholder="nom" required />
                
                      </div>
                    
                      <div class=" col-lg-4 ">
                            <label for="lastname">Prénom :</label>
                            <input [(ngModel)]="formData.lastname" type="text" id="lastname" name="lastname" class="form-control rounded" placeholder="prenom" required />
                          
                         
                      </div>
                      <div class="col-lg-4">
                       
                        <label for="roles">Role :</label>
                        <select [(ngModel)]="formData.roles" id="roles" name="roles" class="form-control rounded" required>
                          <option value="1">ADMIN</option>
                          <option value="2">USER</option>
                          <option value="3">Contact</option>
                          <option value="4">Commercial</option>
                        </select>
                     
                      </div>
                      </div>
                      <br>
                                  
                                    <div class="modal-footer d-flex justify-content-center pt-3">
                                      <button type="reset" class="btn px-2 btn-sm btn-colorbtn" (click)="closeModal()">Annuler</button>
                                      <button type="submit" class="btn  px-2 btn-sm btn-colorbtn btn-addcolor" >Ajouter User</button>
                                    </div>
                                  </form>
                                  
                                  
                                  
                            </div>
                        </ng-template>
                        </div>
                    </div>
                </div>
                
                  
                    </div>
                </div>
              
    
                <div class="d-flex    align-items-center   justify-content-between  ">
                    <div class="    d-flex  ">
                        <div class=" mb-2  mr-1 ">
                            <div class="btn-group">
                                    <a class="btn btn-sm btn-circledown dropdown-toggle custom-dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Proprietaire de contact <i class="fa-sharp fa-solid fa-chevron-down"></i>
                                    </a>
                                    <div class="dropdown-menu custom-dropdown-menu align-items-center">
                                      <a class="dropdown-item" >Défault</a>
                                      <a class="dropdown-item inter-col" >les nouveaux d'abord</a>
                                      <a class="dropdown-item" >les anciens d'abord </a>
                                    </div>
                                
    
    
    
    
                            </div>
                        </div>
                      
                        <div class=" mb-2 mr-1  ">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-circledown dropdown-toggle custom-dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Date de création <i class="fa-sharp fa-solid fa-chevron-down"></i>
                                </a>
                                <div class="dropdown-menu custom-dropdown-menu align-items-center">
                                    <!-- Contenu du dropdown ici -->
                                    <a class="dropdown-item" href="#">Défaut </a>
                                    <a class="dropdown-item inter-col" href="#">Les nouveaux d'abord</a>
                                    <a class="dropdown-item" href="#">Les anciens d'abord</a>
                                </div>
                            </div>
                        </div>
                      
                        <div class=" mb-2  mr-1 ">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-circledown dropdown-toggle custom-dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Date la dernier activité <i class="fa-sharp fa-solid fa-chevron-down"></i>
                                </a>
                                <div class="dropdown-menu custom-dropdown-menu align-items-center">
                                    <!-- Contenu du dropdown ici -->
                                    <a class="dropdown-item" href="#">Défaut </a>
                                    <a class="dropdown-item inter-col" href="#">Les nouveaux d'abord</a>
                                    <a class="dropdown-item" href="#">Les anciens d'abord</a>
                                </div>
                            </div>
                        </div>
                      
                        <div class=" mb-2 mr-1  ">
                            <div class="btn-group">
                                <a class="btn  btn-sm btn-circledown dropdown-toggle custom-dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Statuts du lead <i class="fa-sharp fa-solid fa-chevron-down"></i>
                                </a>
                                <div class="dropdown-menu custom-dropdown-menu align-items-center">
                                    <!-- Contenu du dropdown ici -->
                                    <a class="dropdown-item" href="#">Défaut </a>
                                    <a class="dropdown-item inter-col" href="#">Les nouveaux d'abord</a>
                                    <a class="dropdown-item" href="#">Les anciens d'abord</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                  
                    <div class=" mr-3 align-items-center large  justify-content-end mt-2 ">
                      
            
                    <div class="form-group has-search ">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control input-sm btn-circle " placeholder="Search">
                    </div>
      
    
                      
                 </div>
                  </div>
                </div>

                <table class="table">
                    <thead>
                      <tr>
                      
                        <th scope="col" >Nom</th>
                        <th scope="col" >E-mail</th>
                        <th scope="col"  >Telephone</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                     
                        <td >
                        <div class="d-flex justify-content-between">
                            <div> Mark Otto </div>
                            <div>  <i class="fa-solid fa-trash text-right mr-0 pr-0"></i></div>
                        </div>
                     </td>
                        <td>Ottoexemplegmail.com</td>
                        <td>mdo</td>
                      </tr>
                      <tr>
                        
                        <td >
                            <div class="d-flex justify-content-between">
                                <div> Mark Otto </div>
                                <div>  <i class="fa-solid fa-trash text-right mr-0 pr-0"></i></div>
                            </div>
                         </td>
                        <td>Ottoexemplegmail.com</td>
                        <td>fat</td>
                      </tr>
                      <tr>
                     
                        <td >
                            <div class="d-flex justify-content-between">
                                <div> Mark Otto </div>
                                <div>  <i class="fa-solid fa-trash text-right mr-0 pr-0"></i></div>
                            </div>
                         </td>
                        <td>Ottoexemplegmail.com</td>
                        <td>twitter</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
    </div>

</div> 
