.backoverview{
    background-color: #DCE2E9;
    border-radius: 20px !important;
}
.btn-circle {
    border: 1px solid #2B1F91; /* Replace with your desired border color */
    border-radius: 50px !important;
    background-color: #EAE9F4 !important;
    color: #2B1F91; /* Text color */
    font-size: 13px;
    font-weight :400;
}
thead{
    border-left: 1px solid #475D75;
    border-right: 1px solid #475D75;
    border-top: 1px solid #475D75;
    border-bottom: 1px solid #475D75 !important;
    background-color: #a7b7c3;
}
.table{
    border-left: 1px solid #2B1F91;
    border-right: 1px solid #2B1F91;
    border-top: 1px solid #2B1F91;
    border-bottom: 1px solid #2B1F91 !important;
    color: #2B1F91;
    font-size: 14px;
}

tbody{
    border-left: 1px solid #475D75;
    border-right: 1px solid #475D75;
    border-top: 1px solid #475D75;
    border-bottom: 1px solid #475D75 !important;
    background-color: #dae0e7;
}
th{
    border-left: 1px solid #7B74BA;
    border-right: 1px solid #7B74BA;
    border-top: 1px solid #7B74BA;
    border-bottom: 1px solid #7B74BA !important;
    background-color: #FFFFFF;
}
td{
    border-left: 1px solid #7B74BA;
    border-right: 1px solid #7B74BA;
    border-top: 1px solid #7B74BA;
    border-bottom: 1px solid #7B74BA !important;
    background-color: #F2F2F8;
}

.btn-circledown{
    border: 1px solid #2B1F91; /* Replace with your desired border color */
    color: #2B1F91; /* Text color */
    border-radius: 50px;
    background-color: #FFFFFF !important;
    font-size: 12px !important;
    font-weight :100;
}

.btn-color{
    background-color: #2B1F91 !important;
    color: #FFFFFF; /* Text color */
    font-size: 12px !important;
}
.list-title{
   
    font-size: 14px;
   align-items: center;
    gap: 20px;
}
.card-body{

    padding: 0%;
}
.page-btn {
    cursor: pointer;
}

.page-btn:hover {
    cursor: pointer;
}
.page-btn {
    background-color: #fcfdfa  !important;
    border: 1px solid #475D75; /* Replace with your desired border color */
    border-radius: 50px;
    color: #475D75; /* Text color */
    padding: 5px 8px;
}
.page-item:first-child .page-link {
     padding: 5px 8px;
     margin-left: 0; 
     border-radius: 50px;
}
.page-item:last-child .page-link {
    padding: 5px 8px;
    margin-left: 0; 
    border-radius: 50px;
}

.pagination {
    gap: 7px;
    height: 40px;
}

.navbar-brand {
    padding: 5px 20px 5px 0px;
}
.card{
    border-radius: 10px;
}
.modal-title{
    color: #475D75;
    font-size: 20px;
    font-weight: 500;

}
hr{
    color: #3457a9;
    border-radius: 2px;
    margin-top: 0%;
    margin-bottom: 0%;
}
input,select{
    border-radius: 50px !important;
    background-color: #e3e8ed;
}
label{
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.modal-back{
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #F6FAFD;
    border-radius: 30px !important;
}
.modal-footer{
    padding-top: 0%;
    padding-bottom: 0%;
}
.modal-header{
    padding-bottom: 1%;
}
.btn-colorbtn{
    background-color: white;
    border-radius: 30px !important;
    border: 1px solid #3457a9; /* Replace with your desired border color */
    
}
.btn-addcolor{
    background-color: #475D75;
    color: #fcfdfa;
}
.container-fluid{
   width: auto;
   background-color: #EAE9F4;
}
.client-circledown{
    background-color: #AABFE4;
    border-radius: 10px;
    color: #526592;
    padding: 0px 5px 5px 5px;
    font-size: 12px;
    font-weight: 500;
}
.header-contact{
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-right: -10px;
  margin-left: -10px;
}
.header-table {
    background-color: #3457a9 !important;
    color: #b6da63;
    font-size: 14px;

}
.lebel-client {
    font-size: 20px;
    font-weight: 600;
    color: #2B1F91;
    font-family:  Arial, sans-serif;

}

.btn-group{
    gap: 10px;
}
.searchbar {
    margin-top: auto;
    margin-bottom: auto;
}

.search_container {
    position: relative;
}
.footer-card{
    font-size: 8px;
    font-weight: 400;
    color: #475D75 !important;
}
.card-title{
    font-size: 12px;
    color: #475D75 !important;
}
.card-text{
    font-size: 8px;
    color: #475D75 !important;
}

.btn-delete{
    color: #475D75 !important;
}

.search_input {
    border: 1px solid #3457a9 !important;
    border-radius: 20px  !important;
    background-color: #fcfdfa;
    color: #475D75 !important;
}


.footer-card{
    color: #475D75;
    font-size :13px;
}



.has-search .form-control {
    padding-left: 2.375rem;
}
.large{
    padding-left:50px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #475D75;
}


.custom-dropdown-toggle {
    font-size: 18px; /* Ajustez la taille du texte selon vos besoins */
}


.custom-dropdown-menu {
    transform: translate3d(0px, 35px, 0px) !important;
   
    line-height: 1.5;
  
    /* Ajoutez d'autres styles personnalisés au besoin */
}
.inter-col{
    background-color: #AABFE4;
}
.dropdown-toggle::after{
    display:none;
}
.mr-auto, .mx-auto {
    margin-right: inherit !important;
}
.dropdown-item{
    font-size: 12px;
    font-weight: 400;
 
}
label{
    text-align: center;
    color: #475D75 !important;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    margin-bottom: 1px;
}
.nav-link {
    text-align: center;
    color: #475D75 !important;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    /* float: none; */
}

  

  

  


  

/*picture photo */
.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover; 
    width: 60px;
    height:60px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
    margin-top: 3% !important;
    margin-left: 0 !important;
  
  }
  .profile-pic .-label {
    cursor: pointer;
    height: 60px;
    width: 60px;
  
  }
 
  .border{
    border: 1px solid  !important; 
}

  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
   
     margin-left: 0%;
     margin-bottom:  0%;
   
  
   
   
  }
 
  .profile-pic span {
    color: white;
    display: inline-flex;
   
   /* height: 3.1000000000000014em;*/
    
  }
  .btn-trash{
    background-color: transparent !important;
    border: 0px;
    border-radius: 0px;
    color: #475D75;
    position: relative;
    z-index: 7;
  }
  .card-body {
    cursor: pointer;
  }