.container-div{
    background-color: #2B1F91 !important;
    border-radius: 30px;
}
.col1{
    background-color: #2B1F91;
    border-radius:  30px  0 0  30px ;
    max-height: 600px;
}
@media (max-width: 768px){
    .col1 {
        border-radius:  30px  30px 0  0  ;
    }
    .col2 {
        border-radius: 0 0  30px    30px !important ;
    }
}
.demo-app {
    height: auto !important;
  }
.col2{
    background-color: #FFFFFF;
    border-radius: 0 30px  30px 0;
     max-height: 600px;
}
   /* Add custom styles for the scrollbar */
   .col1::-webkit-scrollbar {
    width: 5px;
  
}

.col1::-webkit-scrollbar-thumb {
    background-color: #2B1F91; /* Set the color of the scrollbar thumb */
    
}

.col1::-webkit-scrollbar-track {
    background-color: #FFFFFF; /* Set the color of the scrollbar track */
}
   /* Add custom styles for the scrollbar */
   .col2::-webkit-scrollbar {
    width: 5px;
  
}

.col2::-webkit-scrollbar-thumb {
    background-color: #2B1F91; /* Set the color of the scrollbar thumb */
    border-radius: 5px;
}

.col2::-webkit-scrollbar-track {
    background-color: #FFFFFF; /* Set the color of the scrollbar track */
}
.modal-back{
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px !important;
}
.btn-colorcontact{
    background-color: transparent;
    border: 1px solid #2B1F91; /* Optional: Add a border for better visibility */
    border-radius: 50px !important;
    font-size: small;
}
hr{
    border: 1px solid #2B1F91; /* Optional: Add a border for better visibility */
    padding-top: 0%!important;
    padding-bottom: 0%!important;
    margin-top: 1%!important;
    margin-bottom: 1%!important;
}
label{
    font-size: 12px;
    color: #2B1F91;
}
.form-pad-group {
   margin-bottom: 0rem !important; 
}
.btn-color{
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px !important;
    font-size: small;
}
.btn-delete img{
    width:30px; 
    align-items: end;
}
.btn-colorbtn2{
    background-color: #2B1F91;
    font-size: small;
    border-radius:  50px;
    line-height: 120%;
    letter-spacing: -4%;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-size: small;

}
.date-note{
    color: #2B1F91;
}
.avatar-mail{
    border-radius:  10px !important;
}


.barrejoint button{
    font-size: 13px !important; 
}
.modal-back{
    background-color: #FFFFFF;
    border-radius: 30px !important;
   
}
.modal-header{
    border-bottom: 0px !important;
}
.modal-title{
    font-size: 22px;
    color: #2B1F91;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -3%;
    font-family: 'Manrope';
   }
.barrejoint{
    padding: 3px 3px 3px 3px;
    border-radius: 50px;
    background-color: #FFFFFF;
}
.back-text-area{
    background-color: #d8d5f6;
    border-radius: 25px !important;
    border-bottom: 0px !important;
    
}
.modal-footer{
    border-top: 0px !important;
}
textarea{
    background-color: transparent !important;
    border: 0px !important;
    
}
.barrejoint{
    padding: 3px 3px 3px 3px;
    border-radius: 50px;
    background-color: #FFFFFF;
}


.btn-send1{
    background-color: #2B1F91;
   
    border-radius:  50px;
    line-height: 120%;
    letter-spacing: -4%;
    font-size: small;
  
    color: #FFFFFF;
    font-family: 'Manrope';
    

}
.meeting-title{
    color: #2B1F91; 
    font-size: 16px;
    letter-spacing: -4%;
    line-height: 120%;
    font-weight: 400;
}
.name-company{
    color: #2B1F91; 
    font-size: 16px;
    letter-spacing: -4%;
    line-height: 120%;
    font-weight: 500;
}
.email-company{
    color: #2B1F91;
     font-size: 12px;
     letter-spacing: -4%;
     line-height: 120%;
}
.btn-colorbtn5{
    background-color: #FFFFFF;
    color: #2B1F91;
    font-size: small;
    border-radius:  50px;
}

.col-back{
    background-color: #d8d5f6;
    border-radius:  20px !important;
}
#emailContent {
    min-height: 6em; /* Adjust the height as needed */
    border: 1px solid #2B1F91; /* Optional: Add a border for better visibility */
    padding: 10px; /* Optional: Add padding for better appearance */
}
.btn-colorbtn{
    background-color: transparent !important;
    border-radius: 50px !important;
    border: 1px solid #2B1F91; /* Optional: Add a border for better visibility */
    color: #2B1F91;
    font-size: small;
}
.inter-col{
    background-color: #2B1F91;
}

.btn-colorbtn1{
    background-color: #FFFFFF;
    font-size: small;   
    border-radius: 50px !important;
}
.btn-square {
    width: 80px; /* Set the width to your desired size */
    height: 80px; /* Set the height to your desired size */
}
.btn-groupe{
    gap: 10px;
}

.block-icon {
    display: block;
    color: #2B1F91; 
  }
.d-flex p {
    text-align: left; /* Align all paragraphs to the left */
  }

p{
    color: #FFFFFF; 
    font: 100;
   
}
.lebel-details{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.fa-solid{
    color: #FFFFFF !important;
}

.btn-circle {
    border: 1px solid #FFFFFF; /* Replace with your desired border color */
    border-radius: 50px;
    padding: 0px 20px 0px 20px ;
    background-color: #2B1F91 !important;
    color: #FFFFFF; /* Text color */
    height: 40px;
    font-size: small;

}
.list-title{
    font-size: 14px;
   align-items: center;
    gap: 20px;
}
.page-btn {
    background-color: #2B1F91 !important;
    border: 1px solid #FFFFFF; /* Replace with your desired border color */
    border-radius: 12px;
    color: #FFFFFF; /* Text color */
    padding: 8px 10px;
    font-size: small;
}
.page-item:first-child .page-link {
    padding: 8px 10px;
     margin-left: 0; 
     border-top-left-radius: 1.7rem; 
     border-bottom-left-radius: 1.7rem; 
     border-top-right-radius: 1.7rem; 
     border-bottom-right-radius: 1.7rem; 
}
.page-item:last-child .page-link {
    padding: 8px 10px;
    margin-left: 0; 
    border-top-right-radius: 1.7rem; 
    border-bottom-right-radius: 1.7rem; 
    border-top-left-radius: 1.7rem; 
    border-bottom-left-radius: 1.7rem; 
}

.pagination {
    gap: 10px;
    height: 40px;
}

.navbar-brand {
    padding: 5px 20px 5px 0px;
}

.header-table {
    background-color: #2B1F91 !important;
    color: #FFFFFF;
    font-size: 14px;

}
input{
    border-radius:   50px 50px 50px 50px  !important ; 
}
select{
    border-radius:   50px 50px 50px 50px  !important ; 
}
.lebel-client {
    font-size: 40px;
    color: #FFFFFF;
    font-family:  Arial, sans-serif;

}
.btn-colorbtn3{
    background-color: #2B1F91;
    color: #FFFFFF;
    border-radius:  50px;
    font-size: small;
}
.title-link{
    color: #FFFFFF;
}
.btn-group{
    gap: 10px;
}
.searchbar {
    margin-top: auto;
    margin-bottom: auto;
}

.search_container {
    position: relative;
}
textarea{
    background-color: transparent !important;
    border: 0px !important;
    
}
.note-meet{
    background-color: #d8d5f6;
    border-radius: 30px !important;

}
.barrejoint{
 
    border-radius: 50px;
    background-color: #FFFFFF;
}
.search_input {
    height: 40px;
    border: 2px solid #FFFFFF !important;
    border-radius: 20px 20px 20px 20px !important;
    background-color: #2B1F91;
    color: #FFFFFF !important;
    padding-left: 40px; /* Ensure space for the icon */
}

.search_input:focus + .search_icon {
    color: #FFFFFF !important;
    background-color: #2B1F91 !important;
}

.fa-search:after,
.fa-search:before {
    color: #FFFFFF !important;
    z-index: 7 !important;
}

.search_icon {
    position: absolute;
    top: 50%;
    color: transparent !important;
    background-color: transparent !important;
    border: 0px;
    left: 5px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}