<div class="d-flex justify-content-between align-items-center pb-0 mt-2 text-center">

  <p class="date-note mt-3"><strong> </strong></p>

  <button class="btn btn-colorbtn2 px-3 py-2" data-toggle="modal" data-target="#reunionModal">Ajouter reunion</button>



  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="reunionModal"
    aria-labelledby="reunionModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content modal-back">
        <div class="modal-header">
          <h5 class="modal-title" id="composeEmailModalLabel">Ajouter réunion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <hr class="m-0 p-0">
        <div class="modal-body row text-left">
          <div class="col-md-4">
            <div>
              <div class="form-group ">
                <label for="dueDate">Titre </label>
                <input type="text" id="dueDate" class="form-control  btn-sm-3 round-input  "
                  placeholder="Titre de reunion" />
                <label for="dueDate">Date </label>
                <div class="input-group">

                  <input type="date" id="dueDate" class="form-control  btn-sm-3 round-input  w-25 mr-4" />
                  <input type="time" id="dueTime" class="form-control btn-sm-3  round-input mr-4" />
                  <input type="time" id="dueTime" class="form-control btn-sm-3  round-input" />
                </div>
                <br>
                <hr>
                <label for="dueDate">Email de rappel programme : </label><br>

                <button type="button" class="btn  btn-colorbtn2 px-3 ">+ Ajouter Rappel</button> <br>
                <hr>
                <label for="dueDate">Participant : </label>
                <div class="input-group">
                  <input type="text" id="dueDate" class="form-control  btn-sm-3 round-input  "
                    placeholder=" + Ajouter Participant" />
                </div>
                <label for="dueDate" class="py-2">Description du Participant : </label>
                <div class="note-meet py-2 px-2">

                  <textarea contenteditable="true" class="form-control" id="emailContent"
                    rows="3">Tapez Votre Commentaire</textarea>
                  <div id="emailToolbar" class="barrejoint ">
                    <button type="button" class="btn"
                      onclick="document.execCommand('bold', false, null)"><strong>B</strong></button>
                    <button type="button" class="btn"
                      onclick="document.execCommand('italic', false, null)"><em>I</em></button>
                    <button type="button" class="btn barrejoin"
                      onclick="document.execCommand('underline', false, null)"><u>U</u></button>
                    <button type="button" class="btn" onclick="attachFile()"><i class="fa-regular fa-file"></i></button>
                    <button type="button" class="btn" onclick="attachPhoto()"><i
                        class="fa-regular fa-image"></i></button>
                    <br>
                  </div>
                </div>
                <button type="button" class="btn  btn-colorbtn mt-2 ">Ajouter notes interne</button>




              </div>
            </div>
          </div>
          <div class="col-md-8">


            <div class='demo-app'>

              <div class='demo-app-sidebar'>
      
              </div>

              <div class='demo-app-main'>
                <div class='demo-app-sidebar-section'>
                  <label>
                    <input type='checkbox' [checked]='calendarOptions.value.weekends'
                      (change)='handleWeekendsToggle()' />
                    Masque weekeds
                  </label>
                </div>
                <full-calendar *ngIf='calendarVisible.value' [options]='calendarOptions.value' class="demo-app">
                
                </full-calendar>
              </div>

            </div>


          </div>

        </div>
        <div class="modal-footer align-items-center justify-content-center">
          <button type="button" class="btn btn-colorbtn" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-colorbtn">Envoyer</button>
        </div>

      </div>
    </div>
  </div>

</div>


<!-- <div class="col-back py-4  ">
  <div class="px-4">
    <div class="d-flex   justify-content-between ">
      <div class=" ">
        <div>
          <p class="name-company  mb-0">Berneso Group</p>
          <p class="email-company contact-info  mt-2">à contactberneso.fr <i style="color: #748699 !important;"
              class="fa-solid fa-angle-down"></i></p>
        </div>
      </div>
      <div>
        <button class="btn btn-colorbtn5 px-4">24 JANVIER </button>

        <a class="px-2 py-0 btn-delete" href="#">
          <img src="./assets/octicon_trashcan-16.png" class="img-fluid" alt="">
        </a>
      </div>
    </div>
    <hr>
    <p class="meeting-title"><strong>Meeting Design</strong></p>
    <hr>

    <div class="d-flex form-pad-group ">
      <div class="form-group pr-4 mr-4 form-pad-group">
        <label for="type">Résultat</label>
        <p style="color: #475D75;">Planifié</p>
      </div>
      <div class="form-group pr-4 mr-4 form-pad-group">
        <label for="priority">Participant</label>
        <p style="color: #1e85f4;">2 Participants</p>
      </div>
      <div class="form-group pr-4 mr-4 form-pad-group">
        <label for="queue">Durée</label>
        <p style="color: #475D75;">30 Minutes</p>
      </div>
    </div>

    <button class="btn btn-send1  py-2
        w-100 px-0" data-toggle="modal" data-target="#commentsModal">Ajouter Commentaire</button>
    <div class="modal fade " id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModal"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered p-3" role="document">
        <div class="modal-content modal-back  py-2">
          <div class="modal-header ">
            <h5 class="modal-title " id="composeEmailModalLabel">Ajouter Commentaire</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <hr>
          <div class="modal-body back-text-area pb-0">

            <div class="form-group  ">

              <textarea contenteditable="true" class="form-control" id="emailContent"
                rows="7">Tapez Votre Commentaire</textarea>
              <div id="emailToolbar" class="barrejoint text-left ">
                <button type="button" class="btn"
                  onclick="document.execCommand('bold', false, null)"><strong>B</strong></button>
                <button type="button" class="btn"
                  onclick="document.execCommand('italic', false, null)"><em>I</em></button>
                <button type="button" class="btn barrejoin"
                  onclick="document.execCommand('underline', false, null)"><u>U</u></button>

                <button type="button" class="btn" onclick="attachFile()"><i class="fa-regular fa-file"></i></button>
                <button type="button" class="btn" onclick="attachPhoto()"><i class="fa-regular fa-image"></i></button>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center mt-2">
            <button type="button" class="btn  px-4 py-2  btn-send1 text-center mx-auto">Ajouter Commentaire</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->


<!--ce qui j'ajout pour d'essai-->
<div class="d-flex justify-content-between align-items-center pb-0 mt-2 text-center">

  <hr class="m-0 p-0">
  <div class="modal-body px-4 row text-left">

    <div class="col-md-12">


      <div class='demo-app'>

        <div class='demo-app-sidebar'>

        </div>

        <div class='demo-app-main'>
          <div class='a-app-sidebar-section'>
            <label>
              <input type='checkbox' [checked]='calendarOptions.value.weekends' (change)='handleWeekendsToggle()' />
              Masque weekeds
            </label>
          </div>
          <full-calendar *ngIf='calendarVisible.value' [options]='calendarOptions.value' class="demo-appa">
            <!-- <ng-template #eventContent let-arg>
             
              
            </ng-template> -->
          </full-calendar>
        </div>

      </div>

    </div>

  </div>
</div>