

.logoback{
    background-color: #475D75 !important;
    border-radius: 10px;  
  
  }
  .btn-block{  
    background-color: #475D75 !important;
    border-radius: 20px;
    color: white;
  }
  .btn-block1{  
    background-color: #475D75 !important;
    border-radius: 50px;
    color: white;
    font-size: 15px;
  }
  .btn-blockretour{  
    background-color: transparent !important;
    border-radius: 20px;
   border: 1px solid #475D75 ;
   color: #475D75;

  }
  .login-text1{
  
    font-family: 'manrope', sans-serif; /* Assuming 'manrope' is your desired font family */
    font-size: 15px; /* Font size in pixels */
    line-height: 90%; /* Line height as a percentage of the font size */
    text-align: left; /* Text alignment to the left */
    letter-spacing: -4%; /* Negative letter spacing */
    color: #475D75; /* Text color in hexadecimal */
}
  .login-text{
  
      font-family: 'manrope', sans-serif; /* Assuming 'manrope' is your desired font family */
      font-size: 30px; /* Font size in pixels */
      line-height: 120%; /* Line height as a percentage of the font size */
      text-align: left; /* Text alignment to the left */
      letter-spacing: -4%; /* Negative letter spacing */
      color: #475D75; /* Text color in hexadecimal */
  }
  checkbox{
    font-family: 'manrope', sans-serif; /* Assuming 'manrope' is your desired font family */
    font-size: 12px; /* Font size in pixels */
    line-height: 120%; /* Line height as a percentage of the font size */
    text-align: left; /* Text alignment to the left */
    letter-spacing: -3%; /* Negative letter spacing */
    color: #475D75; /* Text color in hexadecimal */
    padding-left: 3%;
    font-weight: 600; 
  }
  .lebel-text{
  
    font-family: 'manrope', sans-serif; /* Assuming 'manrope' is your desired font family */
    font-size: 12px; /* Font size in pixels */
    line-height: 120%; /* Line height as a percentage of the font size */
    text-align: left; /* Text alignment to the left */
    letter-spacing: -3%; /* Negative letter spacing */
    color: #475D75; /* Text color in hexadecimal */
    padding-left: 3%;
    font-weight: 600; 
  }
  .lebelpwd-text{
  
    font-family: 'manrope', sans-serif; /* Assuming 'manrope' is your desired font family */
    font-size: 10px; /* Font size in pixels */
    line-height: 120%; /* Line height as a percentage of the font size */
    text-align: left; /* Text alignment to the left */
    letter-spacing: -3%; /* Negative letter spacing */
    color: #1FA3D4; /* Text color in hexadecimal */
    padding-left: 3%;
    font-weight: 600; 
  }
  
  .card{
    background-color: transparent;
    border: 0px !important;
    border-radius: 0px !important;
   
  }
  
  .card-login {
    background-color: rgba(246, 250, 253, 0.54);
    border-radius: 10% !important;
   
    position: relative;
   
    left: 50%;
    transform: translate(-50%, 30%);
  }
  .btn-hidden {
    background-color: rgba(71, 93, 117, 0.25);
    border: 0 !important;
    border-radius: 0  50px  50px 0 !important; /* Adjust the radius as needed */
  }
  
  
  input {
    border-radius: 50px;
    background-color: rgba(71, 93, 117, 0.25);
   
  
  }
  
  /* checkbox */
  .custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px; /* Adjust the space between the checkbox and label text */
    cursor: pointer;
    font-size: 13px;
    color: #1FA3D4;
  }
  
  .custom-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 4px;
   /* border: 1px solid #475D75 ;*/
  
  }
  
  .custom-checkbox input:checked ~ .checkmark {
    background-color: white; /* Change the color when the checkbox is checked */
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  /* checkbox */