

.container-fluid {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #051337;
}







body {
    background: tansparent;
}
.btn-hidden{
    background-color: #FFFFFF;
 border-radius: 50px;
 border:#2B1F91 1px solid;
}

.wrapper {
  
       /*  width: calc(100% / 2) !important;*/
    width: 450px;
    min-height: 300px;
    margin: 100px auto;
    padding: 4px 5px 5px 5px;
    border-radius: 15px;
    background-color: #FFFFFF;
    ;
    border-radius: 50px; 
   
}
button{
  background-color: #2B1F91;
  align-content: center;
}
.logo {
  background-color: #051337;
   border-radius: 20px;
   height: auto;

}
hr{
    border: 1px solid #2B1F91;
}

.logo img {
    width: 30%;
    justify-content:center;}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #2B1F91;
}
.input-group{
  flex-wrap: inherit;

}
.wrapper .form-field input {
    width: 100%;
    display: block;
    outline: none;
    background: none;
    font-size: x-small;
    border-radius: 50px;
    background-color: #FFFFFF !important;
    color: #2B1F91 !important;
    padding: 20px;
    border:#2B1F91 1px solid;
    font-family: 'Manrope'
}
.align-me{
    height: -50px important;
}
.wrapper .form-field {
   
  color: #2B1F91 !important; 
    margin-bottom: 20px;
   
    
}
.lebel-text{
    font-size: 12px;
    font-weight: 400;
    padding-left: 5%;
    line-height: 120%;
    letter-spacing: -3%;
    color: #2B1F91;
    font-family: 'Manrope';
}
.wrapper .form-field .fas {
    color: #2B1F91;
}

.custom-checkbox {
  display: inline-block;
  
  
  cursor: pointer;
  font-size: 13px;
  color: #2B1F91;
}
.input-lign{
  /*  height: 41px;*/
}

.lebelpwd-text{
  
    font-family: 'Manrope'; /* Assuming 'manrope' is your desired font family */
  font-size: 12px; /* Font size in pixels */
  line-height: 120%; /* Line height as a percentage of the font size */
  text-align: left; /* Text alignment to the left */
 
  color: #2B1F91; /* Text color in hexadecimal */
  padding-left: 3%;
  font-weight: 400; 
}
.wrapper .login-button {
    box-shadow: none;
    align-content:baseline;
    font-size: 14px; 
    font-family: 'Manrope';
    line-height: 120%;
    letter-spacing: -3%;
    background-color: #2B1F91;
    color: #FFFFFF;
    border-radius: 50px;
   
    letter-spacing: 1.3px;
}



.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #2B1F91;
}

.wrapper a:hover {
    color: #2B1F91;
}


@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}