
<div class="d-flex justify-content-between align-items-center px-2 pb-0  text-center">

    <p class="date-note mt-3"><strong>24 janvier</strong></p>
  
    <button class="btn btn-colorbtn2 px-3 py-2" data-toggle="modal" data-target="#createmailsModal">Créer un E-mail</button>
    <div class="modal fade " id="createmailsModal" tabindex="-1" role="dialog" aria-labelledby="createmailsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content modal-back ">
        <div class="modal-header p-2">
            <h5 class="modal-title" id="composeEmailModalLabel">Créer un E-mail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
           
        </div>
        <hr class="m-2">
      
        <div class="modal-body  ">
            <!-- Your email composition form can go here -->
          
           <div class="px-2 style-text">
            <div class="d-flex style-text mb-2">
                <p class="style-text  col-sm-2">A</p>
                <p class="text-mail style-text ">mytf1.fr</p>
            </div>
           
            <div class="d-flex style-text  ">
                <p class="style-text  col-sm-2">De</p>
                <p class="style-text ">Group Berneso (<a href="mailto:a.souidi@berneso.com">a.souidiberneso.com</a>)</p>
            </div>
            <hr class="m-2">
            <div class="d-flex style-text  ">
                <p class="style-text  col-sm-2 p-0">Sujet</p>
                <p class="style-text  p-0">Prospection</p>
            </div>
            <hr class="m-2">
        </div>
        
        
        
         
            <div class="form-group text-left mb-0 ">
              
                <textarea contenteditable="true" class="form-control" id="emailContent" rows="5">Tapez votre commentaire</textarea>
               
                <div id="emailToolbar" class="barrejoint ">
                    <button type="button" class="btn" onclick="document.execCommand('bold', false, null)"><strong>B</strong></button>
                    <button type="button" class="btn" onclick="document.execCommand('italic', false, null)"><em>I</em></button>
                    <button type="button" class="btn barrejoin" onclick="document.execCommand('underline', false, null)"><u>U</u></button>
                    
                    <!-- New buttons for Joint File and Joint Photo -->
                    <button type="button" class="btn" onclick="attachFile()"><i class="fa-regular fa-file"></i></button>
                    <button type="button" class="btn" onclick="attachPhoto()"><i class="fa-regular fa-image"></i></button>
                </div>
            </div>
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="btn  btn-colorbtn3 px-3 py-1 text-center mx-auto">Envoyer</button>
        </div>
        
        </div>
        </div>
        </div>
    </div>




<hr>

<div class="col-back py-4"> <!-- *ngFor="let e of emails"-->
    <div class="px-4" *ngFor="let email of emails">
        <div class="d-flex justify-content-between">
            <div class="d-flex ">
                <img  class="avatar-mail" src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg"
                alt="User Image" width="50" height="50">
                <div class="ml-3 mb-0">
                    <p class="m-0 name-company">{{email.sender}}</p>
                    <p class="mt-2 email-company" >{{email.recipient}} <i style="color: #748699 !important;" class="fa-solid fa-angle-down"></i>
                    </p>
                </div>
            </div>
            <div class="  ">
                <button class="btn btn-colorbtn5  px-3 mr-2 ">Réponse</button>
                <button class="btn btn-colorbtn5  px-3 mr-2">Transfert</button>
                <button class="btn btn-colorbtn5  px-3 ">Supprimer</button>
                <button class="btn btn-colorbtn51  px-3 ml-4">{{email.sendingDate}}</button>
            </div>
            
            
            
            
        </div>
        <div class="d-flex justify-content-between align-items-center pt-3 text-center">
            <div class="align-items-center">
                <p class="date-note align-items-center mb-0">{{email.description}}</p>
            </div>
            <div>
                <a class="px-2 py-0 btn-delete" href="#" >
                    <img src="./assets/delete.png" class="img-fluid" alt="">
                    <!--<i class="fa-solid fa-trash"></i>-->
                </a>
            </div>
        </div>
     
    </div>
</div>



