

<div class="d-flex justify-content-between align-items-center pb-0 mt-2 text-center">

    <p class="date-note mt-3"><strong>24 janvier</strong></p>
    <button class="btn btn-colorbtn2 px-3 py-2" (click)="openModal(addNote)">
        <i class="fa-solid fa-user-plus"></i> Ajouter une note
    </button>
     <!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="composeEmailModalLabel" aria-hidden="true">
<div class="modal-dialog " role="document">
<div class="modal-content  modal-back  ">
    <ng-template #addNote>
    <div class="modal-header mb-1 ">
        <h5 class="modal-title  " id="composeEmailModalLabel">Ajouter une nouvelle note</h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
    <hr class="line-modal">
    <div class="modal-body px-0 py-0">
        
        <form id="noteForm" (ngSubmit)="submitNoteForm()" enctype="multipart/form-data">
            <textarea contenteditable="true" class="form-control" id="emailContent" rows="7">Tapez une note</textarea>
            <div id="emailToolbar" class="barrejoint text-left ">
                <button type="button" class="btn" onclick="document.execCommand('bold', false, null)"><strong>B</strong></button>
                <button type="button" class="btn" onclick="document.execCommand('italic', false, null)"><em>I</em></button>
                <button type="button" class="btn barrejoin" onclick="document.execCommand('underline', false, null)"><u>U</u></button>
                
                <!-- New buttons for Joint File and Joint Photo -->
                <button type="button" class="btn" onclick="attachFile()"><i class="fa-regular fa-file"></i></button>
                <button type="button" class="btn" onclick="attachPhoto()"><i class="fa-regular fa-image"></i></button>
            </div>


          
            <div class="modal-footer d-flex justify-content-center  ">
              <button type="reset" class="btn btn-circle1  py-2 mr-2" (click)="closeModal()" >Annuler</button>
              <button type="submit" class="btn  btn-circle  py-2  btn-color1">Ajouter une note</button>
            </div>
          </form>
          
          
    </div>
</ng-template>
</div>
</div>
</div>
 <!--   <button class="btn btn-colorbtn2 px-3 py-2"(click)="openModal(addNote)" >Ajouter une note</button>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="composeEmailModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content  modal-back  ">
                <ng-template #addNote>
        <div class="modal-header ">
            <h5 class="modal-title " id="composeEmailModalLabel">Ajouter une note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <hr>
        <div class="modal-body">
    
            <form id="noteForm" (ngSubmit)="submitNoteForm()" enctype="multipart/form-data">
                <textarea contenteditable="true" [(ngModel)]="formData.description" class="form-control" id="emailContent" rows="7">Tapez une note</textarea>
                <div id="emailToolbar" class="barrejoint text-left ">
                    <button type="button" class="btn" onclick="document.execCommand('bold', false, null)"><strong>B</strong></button>
                    <button type="button" class="btn" onclick="document.execCommand('italic', false, null)"><em>I</em></button>
                    <button type="button" class="btn barrejoin" onclick="document.execCommand('underline', false, null)"><u>U</u></button>
                    
                    <button type="button" class="btn" onclick="attachFile()"><i class="fa-regular fa-file"></i></button>
                    <button type="button" class="btn" onclick="attachPhoto()"><i class="fa-regular fa-image"></i></button>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn  px-4 py-2  btn-colorbtn2 text-center mx-auto">Ajouter une note</button>
                </div> 
        </form>
        </div>

    </ng-template>
</div>
</div>
</div>    -->    
</div>



<hr class="line-notes " >
<div class="col-back  mt-3 ">
    <div class="px-3 py-1">
        <div class="d-flex justify-content-between align-items-center pt-3 text-center" *ngFor="let note of notes">
            <div class="align-items-center">
                <p class="date-note align-items-center mb-0">{{note.description}}</p>
            </div>
            <div>
                <p class="btn btn-colorbtn3 px-4"> {{note.dateCreated}}</p> 

                <a class="px-2 py-0 btn-delete" href="#" >
                    <img src="./assets/delete.png" class="img-fluid" alt="">
                    <!--<i class="fa-solid fa-trash"></i>-->
                </a>
            </div>
        </div>
        
        
        <button  class="btn btn-comment-add  py-2 mt-3 mb-4 w-100" data-toggle="modal" data-target="#commentsModal" >Ajouter un commentaire</button>
   
        <div class="modal fade " id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content modal-back px-3 py-1">
            <div class="modal-header">
                <h5 class="modal-title" id="composeEmailModalLabel">Ajouter un commentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr>
            <div class="modal-body   px-2 py-0 ">
                <!-- Your email composition form can go here -->
               
                <div class="form-group ">
                  
                    <textarea contenteditable="true" class="form-control" id="emailContent" rows="7">Tapez votre commentaire</textarea>
                    <div id="emailToolbar" class="barrejoint  p-0 ">
                        <button type="button" class="btn" onclick="document.execCommand('bold', false, null)"><strong>B</strong></button>
                        <button type="button" class="btn" onclick="document.execCommand('italic', false, null)"><em>I</em></button>
                        <button type="button" class="btn barrejoin" onclick="document.execCommand('underline', false, null)"><u>U</u></button>
                        
                        <!-- New buttons for Joint File and Joint Photo -->
                        <button type="button" class="btn" onclick="attachFile()"><i class="fa-regular fa-file"></i></button>
                        <button type="button" class="btn" onclick="attachPhoto()"><i class="fa-regular fa-image"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn  px-4 py-2 btn-colorbtn2 text-center mx-auto">Ajouter un commentaire</button>
            </div>
            
            </div>
            </div>
            </div>
        </div>
    
</div>




