<div class="container-fluid pt-3 mb-4 ">

    
 

  

  <div class="container-fluid  ">
    <div class="d-flex justify-content-between mb-2">
        <button class="btn btn-colorcontact px-4 mt-4 mb-3" routerLink="/contacts" ><i class="fa-solid fa-angle-left" style="color: #2B1F91 !important;"></i> &nbsp; &nbsp;Contact</button>
  
       <!-- <div class="d-flex justify-content-end">
            <div class="input-group search_container">
                <input class="form-control search_input" type="text" name="" placeholder="Search...">
                <div class="input-group-append">
                    <span class="input-group-text search_icon"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>-->
    </div>
    
    <div class="row">

        <div  *ngIf="contact" class="col-lg-4 col1 pt-4 pl-4"  style="overflow-y: auto; overflow-x: 0;">
            
            <div class=" px-0  pt-1 ">
                <div class="  mb-4 profile-pic border">
                    <label class="-label" for="image">
                      <span class=" glyphicon glyphicon-camera "></span>
                      <span><i class="fa-solid fa-camera"></i></span> 
                    </label>
                  
                    <input id="image" name="image" type="file" accept="image/*" (change)="onFileChange($event)" required />
                  
                    <img *ngIf="contact.photo !== null" 
                         [src]="'data:image/*;base64,' + contact.photo"
                         alt="User Image"
                         class="card-img-top img-fluid"
                         style="width: 80px; height: 80px; border-radius: 10px;">
                  
                    <img *ngIf="contact.photo == null"
                         src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png"
                         alt="User Image"
                         class="card-img-top img-fluid"
                         style="width: 80px; height: 80px; border-radius: 10px;">
                  </div>
                  
                <div class="  px-1 mt-2 align-items-center justify-content-start" style="color:#FEFC5A">
                    {{ contact.FirstName }} {{ contact.LastName }}
                 <!-- <p>{{ contact.statuscontact }} </p>-->
                </div>
                
            </div>
           

          
          
            <div class="d-flex gap-2 ">
                <button type="button" class="btn px-4  btn-color btn-square" (click)="showComponent('notes')">
                  <i class="fas fa-note-sticky font-icon"></i> Notes
                </button>
              
                <button type="button" class="btn  px-4 btn-color btn-square" (click)="showComponent('email')">
                  <i class="fas fa-envelope font-icon"></i> Email
                </button>
              
                <button type="button" class="btn  px-4 btn-color btn-square" (click)="showComponent('tasks')">
                  <i class="fas fa-bars font-icon"></i> Tâches
                </button>
              
                <button type="button" class="btn  px-4 btn-color btn-square" (click)="showComponent('meeting')">
                  <i class="far fa-calendar-days font-icon"></i> Réunion
                </button>
              </div>
            

            <br>

            

            
            <div  *ngIf="contact" lass="px-0  text-truncate">


                <div class="d-flex align-items-center">
                    <p class="label-details">Details du contact :</p>
                    <p class="ml-auto justify-content-end  mr-3 ">
                        <a class=" px-2 py-0 btn-delete" (click)="openModal(updateContact)">
                        <img src="./assets/edit.png" alt="" class="img-fluid">
                      </a>
                      <!--<i class="fas fa-pen-to-square"></i> -->  
                    </p>
                                             <!-- Modal -->
              <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="composeEmailModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  modal-back  ">
                        <ng-template #updateContact>
                        <div class="modal-header mb-1 ">
                            <h5 class="modal-title  " id="composeEmailModalLabel">Modifier le contact {{contact.firstName}} {{contact.lastName}}</h5>
                            <button type="button" class="close" (click)="closeModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            
                        </div>
                        <hr class="line-modal">
                        <div class="modal-body px-0 py-0">
                            
                            <form id="contactForm" (ngSubmit)="UpdateContact(contact.id)" enctype="multipart/form-data">
                          <div class=" row ">
                            <div class="col-lg-6 ">
                              <label for="Email">E-mail</label>
                                    <input [(ngModel)]="formData.email" type="email" id="Email" name="Email" class="form-control rounded" placeholder={{contact.email}} required />
                            </div>
                            <div class="col-lg-6 ">
                              <label for="Tel">Téléphone</label>
                                    <input [(ngModel)]="formData.tel" type="tel" id="Tel" name="Tel" class="form-control rounded" placeholder={{contact.tel}} required />
                                
                                  </div>
                        </div>
                        <div class=" row ">
                          <div class="col-lg-6 ">
                            <label for="JobTitle">Intitulé du poste</label>
                              <input [(ngModel)]="formData.jobTitle" type="text" id="JobTitle" name="JobTitle" class="form-control rounded" placeholder={{contact.jobTitle}} required />
                          </div>
                          <div class="col-lg-6 ">
                            <label for="CompanyName">Nom d'entreprise</label>
                              <input [(ngModel)]="formData.companyName" type="text" id="CompanyName" name="CompanyName" class="form-control rounded" placeholder={{contact.companyName}} required />
                          </div>

                      </div>
                      <div class=" row ">
                        <div class="col-lg-6 ">
                          <label for="Adress">Adresse</label>
                          <input [(ngModel)]="formData.adress" type="text" id="Adress" name="Adress" class="form-control rounded" placeholder={{contact.adress}} required />
                        </div>
                        <div class="col-lg-6 ">
                          <label for="Type">Type</label>
                          <select [(ngModel)]="formData.type" id="Type" name="Type" class=" form-select " required>                                        
                            <option value="Nouveau">Nouveau</option>
                            <option value="Intermediaire">Intermédiaire</option>
                            <option value="Contact">Contact</option>
                            <option value="Revendeur">Revendeur</option>
                            <option value="Fournisseur">Fournisseur</option>
                            <option value="Autre">Autre</option>
                          </select>
                        </div>
                    </div>
                    <div class=" row ">
                      <div class="col-lg-6 ">
                        <label for="Status">Status du contact</label>
                        <select [(ngModel)]="formData.status" id="Status" name="Status" class=" form-select " required>                                        <option value="Nouveau">Nouveau</option>
                          <option value="Nouveau">Nouveau</option>  
                          <option value="EnCours">Tentative en cours</option>
                          <option value="Connecte">Connecté</option>
                          <option value="Qualifie">Qualifié</option>
                          <option value="Disqualifie">Disqualifié</option>
                        </select>
                      </div>
                      <div class="col-lg-6 ">
                        <label for="Source">Source du contact</label>
                        <select [(ngModel)]="formData.source" id="Source" name="Source" class=" form-select " required>                                        <option value="Nouveau">Nouveau</option>
                          <option value="Web">Web</option>
                          <option value="Event">Evènement</option>
                          <option value="Appel">Appel téléphonique</option>
                          <option value="Autre">Autre</option>
                        </select>
                      </div>
                  </div>

                                <div class="modal-footer d-flex justify-content-center  ">
                                  <button type="reset" class="btn btn-circle1  py-2 mr-2" (click)="closeModal()" >Annuler</button>
                                  <button type="submit" class="btn  btn-circle  py-2  btn-color1">Modifier le contact</button>
                                </div>
                              </form>
                              
                              
                        </div>
                    </ng-template>
                    </div>
                </div>
            </div>
                    </div>
                      
             
                
                <div class="  row   align-items-center ">
                    <div class="  col-lg-5">
                        <p class="pad-row1 " >Email:</p>
                    </div>
                    <div class="col-lg-7  ">
                        <p  class="pad-row ">{{ contact.email }} </p>
                    </div>
                </div>
                <div class="   row  align-items-center ">
                    <div class="   col-md-5">
                        <p class="pad-row1">Propritaire du contact:</p>
                    </div>
                    <div class="col-md-7  ">
                        <p class="pad-row " >{{ contact.contactOwner.firstname }}  {{ contact.contactOwner.lastname }}</p>
                    </div>
                </div>
                <div class="  row  align-items-center ">
                    <div class=" col-lg-5">
                        <p class="pad-row1">Date  de Création du contact:</p>
                    </div>
                    <div class="col-lg-7 ">
                        <p class="pad-row ">{{ contact.datecreated | date:'yyyy-MM-dd' }} </p>
                    </div>
                </div>
                <div class="  row  align-items-center ">
                    <div class="  col-lg-5">
                        <p class="pad-row1" >Adress:</p>
                    </div>
                    <div class="col-lg-7 ">
                        <p class="pad-row ">{{ contact.adress}}</p>
                    </div>
                </div>
                <div class="  row  align-items-center ">
                    <div class="  col-lg-5">
                        <p  class="pad-row1">Intitule de Poste:</p>
                    </div>
                    <div class="col-lg-7 ">
                        <p class="pad-row ">{{ contact.jobTitle}}</p>
                    </div>
                </div>
             
                
                <div class="  row  align-items-center ">
                    <div class="  col-lg-5">
                        <p class="pad-row1">Type du contact:</p>
                    </div>
                    <div class="col-lg-7 ">
                        <p class="pad-row ">{{ contact.type}}</p>
                    </div>
                </div>
                <div class="  row  align-items-center ">
                    <div class="  col-lg-5">
                        <p class="pad-row1" >Nom de l'entreprise:</p>
                    </div>
                    <div class="col-lg-7 ">
                        <p class="pad-row ">{{ contact.companyName}}</p>
                    </div>
                </div>
                
                <div class="  row  align-items-center ">
                    <div class="  col-lg-5">
                        <p class="pad-row1">Satuts du contact:</p>
                    </div>
                    <div class="col-lg-7 ">
                        <p class="pad-row ">{{ contact.satuts}}</p>
                    </div>
                </div>
                
                <div class=" row  align-items-center">
                    <div class="  col-lg-5">
                        <p class="pad-row1">Numéro de téléphone:</p>
                    </div>
                    <div class="col-lg-7 ">
                        <p  class="pad-row " >{{ contact.tel}}</p>
                    </div>
                </div>
                <div class="  row align-items-center ">
                    <div class="col-lg-5">
                        <p class="pad-row1">Linkedin:</p>
                    </div>
                    <div class=" col-lg-7 ">
                        <p class="pad-row ">  <a href="{{ contact.linkedin }}"> Profile Linkedin</a> </p>
                    </div>
                </div>
            </div>
         
        </div>

        <div class="col-lg-8 col2 pt-4 " style="overflow-y: auto;">
            <div class="d-flex ml-2">
                <button class="btn btn-sm btn-colorbtn px-sm-4 mr-2" 
                        [class.active]="selectedComponent === 'notes'" 
                        (click)="showComponent('notes')">Notes</button>
            
                <button class="btn btn-colorbtn btn-sm px-sm-4 mr-2" 
                        [class.active]="selectedComponent === 'email'" 
                        (click)="showComponent('email')">Email</button>
            
                <button class="btn btn-sm btn-colorbtn px-sm-4" 
                        [class.active]="selectedComponent === 'tasks'" 
                        (click)="showComponent('tasks')">Tache</button>
            
                <button class="btn btn-sm px-sm-4 btn-colorbtn ml-2" 
                        [class.active]="selectedComponent === 'meeting'" 
                        (click)="showComponent('meeting')">Réunion</button>
            </div>
            

      
            <!-- Placeholder for component content -->
    <div *ngIf="selectedComponent === 'notes'">
        <app-notes></app-notes>
    </div>

    <div *ngIf="selectedComponent === 'email'">
        <app-emails></app-emails>
    </div>

    <div *ngIf="selectedComponent === 'tasks'">
        <app-tasks></app-tasks>
    </div>

    <div *ngIf="selectedComponent === 'meeting'">
        <app-meetings></app-meetings>
    </div>
            

        </div>

    </div>
</div>

</div>
